body.home {
    margin: 60px auto;
    padding: 0;
    width: 70%;
    /*two bg imgs stacked on top of eachother*/
    background-image: url(bg3.jpg), url(chromosomes.jpg);
    background-repeat: no-repeat,repeat;
    background-size: cover,cover;
       
}

.topnav {
    /*background-color: #333;*/
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}
.topnav a.split {
    float: right;
    padding: 5px 14px;
    text-decoration: none;
    color: #e42183;
    font-size: 20px;
    transition: all ease-in-out 250ms;
}

/*background for contact page*/
body.contact{
    margin: 60px auto;
    padding: 0;
    width: 70%;
    background-image: url(face.JPG);
    background-size: cover;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
/* layout of nav list and footer list */
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
/* scocial media icons in footer */
footer ul li a {
    text-decoration: none;
    color: #e42183;
    font-size: 50px;
    transition: all ease-in-out 250ms;
}
/* home and contact menu */
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 10px;
}
/*move over icons and changes color*/
li a:hover{
    color: rgb(245, 119, 23);
}
/*hyper link to insta*/
a, a:hover{
    color:aqua;
    text-decoration: none;
}
a:hover{
    color:rgb(38, 223, 21);
    text-decoration: none;
}
h1 {
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 700;
    color: white;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-bottom: 2px;
}
h2 {
    margin-top: 0px;
    font-size: 1.5em;
    color: white;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1em;
    color: white;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.7em;
    font-weight: 700;
    color: white;
    text-align: justify;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

/* list item */
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* list of projects*/
ul.projects {
    margin: 5px;
    padding: 5px;
    list-style-position: outside;
    font-size: 1em;
    line-height: 1.7em;
    font-weight: 700;
    text-align: justify;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style-type: circle;
    color: white;
    
}


/*glowing text*/
.glow {
    font-size: 20px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

